# flagfile for the roq-htx-futures gateway

--api=coin-m-delivery

--rest_uri=https://api.hbdm.com
--ws_market_uri=wss://api.hbdm.com/ws
--ws_order_uri=wss://api.hbdm.com/notification
--ws_index_uri=wss://api.hbdm.com/ws_index
