# flagfile for the roq-htx-futures gateway

--api=usdt-m-futures

--rest_uri=https://api.hbdm.com
--ws_market_uri=wss://api.hbdm.com/linear-swap-ws
--ws_order_uri=wss://api.hbdm.com/linear-swap-notification
--ws_index_uri=wss://api.hbdm.com/ws_index
